body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(tempBg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: sans-serif;
}

/*== Login Form ==*/
form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 2px solid rgba(90, 90, 90, 0.247);
  border-radius: 30px;
  max-width: 800px;
  min-width: 350px;
  padding: 30px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

label {
  margin-bottom: -10px;
}

.inputs input {
  width: 100%;
  padding: 8px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 45%;
  min-width: 200px;
}

.email {
  margin-right: 2.5%;
}

/*== Buttons ==*/
.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}

.btns button {
  text-decoration: none;
  padding: 3px;
  border-radius: 15px;
  width: 75px;
}

.primary {
  background-color: rgba(0, 0, 253, 0.267);
}

.primary:hover {
  background-color: rgba(35, 35, 245, 0.267);
}

/*== Sm Screens ==*/
@media (width < 576px) {
  .inputs {
    width: 95%;
  }
}
